USE [master]
GO
/****** Object:  Database [YummyDB]    Script Date: 6/25/2019 2:18:56 PM ******/
CREATE DATABASE [YummyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YummyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\YummyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YummyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\YummyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YummyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YummyDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/25/2019 2:18:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[username] [nvarchar](250) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userID], [phone], [username], [password]) VALUES (1, N'0361112345', N'Nomnom', N'nomnom')
INSERT [dbo].[Users] ([userID], [phone], [username], [password]) VALUES (3, N'0988', N'Tasty', N'123456')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
